.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    color:#ddd;
    border-bottom: 2px solid #a6a6a62d;

}
.navbar ul{
    display: flex;
    gap: 25px;
}
.navbar ul li{
    cursor: pointer;
}
.navbar .logo{
    font-size: 24px;
    font-family: "Sofia", cursive;
}
.navbar .logo span{
    background: -webkit-linear-gradient(#6f027b, #e61e46, #f4f421);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .nav-right{
    display: flex;
    align-items: center;
    gap: max(1vw, 12px);
}
.navbar .nav-right select{
    padding: 5px 8px;
    border-radius: 6px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}
.navbar .nav-right select option{
    background-color: #09005c;
    color: white;
}
.navbar .nav-right button{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 8px 15px;
    font-size: 16px;
    color: #393939;
    background: #fff;
    border: 1px solid #fff;
}
.navbar .nav-right button:hover{
    background: transparent;
    color: #fff;
}

@media (max-width:900px){
    .navbar{
        padding: 20px 8%;
    }
    .navbar .nav-right button{
        gap: 2px;
        padding: 6px 12px;
        font-size: 14px;
    }
}

@media (max-width:760px){
    .navbar{
        padding: 20px 5%;
    }
    .navbar ul{
    display: none;
}
}
