.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    color:#ddd;
    border-bottom: 1px solid #a6a6a62d;
    background: linear-gradient(rgba(31, 0, 98, 0.832),rgba(3, 0, 54, 0.92));
    z-index: 1000;
}
.navbar .logo{
    font-size: 24px;
    font-family: "Sofia", cursive;
}
.navbar .logo span{
    background: -webkit-linear-gradient(#6f027b, #e61e46, #f4f421);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .nav-right select{
    padding: 5px 8px;
    border-radius: 6px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}
.navbar .nav-right select option{
    background-color: #09005c;
    color: white;
}

@media (max-width:900px){
    .navbar{
        padding: 20px 8%;
    }
}

@media (max-width:760px){
    .navbar{
        padding: 20px 5%;
    }
}
